main {
	margin: 400px;
	border: solid;
	padding: 7px; 

}

.hrfett {
	border: 0;
	height:  15px;
	background-color: black;
}

.hrgrau	{
	border: 0;
	background-color: lightgrey;
	height:  3px;

}

hr {
	border: 0;
	background-color: black;
	height: 2px;
}

.boxright {
	text-align: right;
}

.text1 {

	margin-right: 10px;

}


.text3 {

	text-align: right;
	padding-left: 200px;
}

.text4 {

	text-align: right;
	padding-left: 15px;

}