header {
	padding-left:200px;
}

main {
	padding-left:170px;
	margin-right: 350px;
}

div {
	background: lightgray;
	transition: width 3s, height 3s, transform 3s;

 }

 div:hover {
  	background: lightsalmon;
 	text-align: center;
  	height: 100px;
}

.link:hover {
  	color: 
}